<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="public/img/logo.png" alt="" height="16" />
        </span>
        <span class="logo-sm">
            <img src="public/img/logo_sm.png" alt="" height="16" />
        </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="public/img/logo-dark.png" alt="" height="16" />
        </span>
        <span class="logo-sm">
            <img src="public/img/logo_sm_dark.png" alt="" height="16" />
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">
        <!--- Sidemenu -->
        <ul class="side-nav">
            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a href="index.php?action=show_dashboard" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <!-- <span class="badge bg-success float-end">4</span> -->
                    <span> Trang tổng quan </span>
                </a>
            </li>

            <li class="side-nav-title side-nav-item">Manages</li>

            <li class="side-nav-item">
                <a
                    href="index.php?action=show_admins_panel"
                    class="side-nav-link"
                >
                    <i class="uil-user-circle"></i>
                    <span> Quản lý Admin </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a
                    href="index.php?action=show_teachers_panel"
                    class="side-nav-link"
                >
                    <i class="uil-user-circle"></i>
                    <span> Quản lý Giáo viên </span>
                </a>
            </li>

            <li class="side-nav-item menuitem-active">
                <a
                    href="index.php?action=show_grades_panel"
                    class="side-nav-link active"
                >
                    <i class="uil-servers"></i>
                    <span> Quản lý Khối </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a
                    href="index.php?action=show_classes_panel"
                    class="side-nav-link"
                >
                    <i class="uil-diary"></i>
                    <span> Quản lý Lớp </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a
                    href="index.php?action=show_students_panel"
                    class="side-nav-link"
                >
                    <i class="uil-user-circle"></i>
                    <span> Quản lý Học Sinh </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a
                    href="index.php?action=show_subjects_panel"
                    class="side-nav-link"
                >
                    <i class="uil-subject"></i>
                    <span> Quản lý Môn </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a
                    href="index.php?action=show_questions_panel"
                    class="side-nav-link"
                >
                    <i class="uil-question-circle"></i>
                    <span> Quản lý Câu Hỏi </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a
                    href="index.php?action=show_tests_panel"
                    class="side-nav-link"
                >
                    <i class="uil-clipboard-alt"></i>
                    <span> Quản lý Đề Thi </span>
                </a>
            </li>

            <li class="side-nav-title side-nav-item">Contact</li>

            <li class="side-nav-item">
                <a
                    href="index.php?action=show_notifications_panel"
                    class="side-nav-link"
                >
                    <i class="uil-bell"></i>
                    <span> Thông Báo </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="index.php?action=show_about" class="side-nav-link">
                    <i class="uil-user-square"></i>
                    <span> Liên hệ </span>
                </a>
            </li>
        </ul>

        <!-- Help Box -->
        <div class="help-box text-white text-center">
            <a
                href="javascript: void(0);"
                class="float-end close-btn text-white"
            >
                <i class="mdi mdi-close"></i>
            </a>
            <img
                src="public/img/help-icon.svg"
                height="90"
                alt="Helper Icon Image"
            />
            <h5 class="mt-3">Truy cập vô hạn</h5>
            <p class="mb-3">
                Nâng cấp lên kế hoạch để có quyền truy cập vào các báo cáo không
                giới hạn.
            </p>
            <a href="javascript: void(0);" class="btn btn-outline-light btn-sm"
                >Nâng cấp</a
            >
        </div>
        <!-- end Help Box -->
        <!-- End Sidebar -->

        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">
                                    <a href="index.php?action=show_dashboard">
                                        <i class="uil-home-alt"></i>
                                        Trang tổng quan</a
                                    >
                                </li>
                                <li class="breadcrumb-item active">
                                    Quản lý Khối
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4 flex">
                                    <a
                                        class="btn btn-primary mb-2 me-1"
                                        data-bs-toggle="modal"
                                        style="cursor: pointer"
                                        data-bs-target="#add_normal"
                                        ><i
                                            class="mdi mdi-plus-circle me-1"
                                        ></i>
                                        Thêm mới</a
                                    >
                                    <div
                                        class="action hidden"
                                        id="select_action"
                                    >
                                        <a
                                            class="btn btn-danger mb-2"
                                            onclick="delete_select_grade_check()"
                                            ><i class="mdi mdi-delete me-1"></i
                                            >Xóa chọn lọc
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div
                                id="add_normal"
                                class="modal fade"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="standard-modalLabel"
                                aria-hidden="true"
                            >
                                <form
                                    action=""
                                    method="post"
                                    role="form"
                                    id="add_grade_form"
                                >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4
                                                    class="modal-title"
                                                    id="standard-modalLabel"
                                                >
                                                    Thêm khối
                                                </h4>
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-hidden="true"
                                                ></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label
                                                                class="form-label"
                                                                for="name"
                                                                >Tên khối</label
                                                            >
                                                            <input
                                                                type="text"
                                                                name="name"
                                                                id="name"
                                                                onchange=""
                                                                class="form-control"
                                                                required
                                                                oninput="valid_grade_name(this.value,this.name)"
                                                            />
                                                            <img
                                                                src="public/img/true.png"
                                                                class="valid-img hidden"
                                                                id="valid-name-true"
                                                                style="
                                                                    right: 24px;
                                                                    top: 54px;
                                                                "
                                                            />
                                                            <img
                                                                src="public/img/false.png"
                                                                class="valid-img"
                                                                id="valid-name-false"
                                                                style="
                                                                    right: 24px;
                                                                    top: 54px;
                                                                "
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                    type="button"
                                                    class="btn btn-light"
                                                    data-bs-dismiss="modal"
                                                >
                                                    Trở lại
                                                </button>
                                                <button
                                                    type="submit"
                                                    class="btn btn-primary"
                                                    id="add_grade"
                                                    name="add-grade"
                                                >
                                                    Thêm
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div
                                id="_add_via_file"
                                class="modal fade"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="standard-modalLabel"
                                aria-hidden="true"
                            >
                                <form
                                    id="add_grade_via_file"
                                    enctype="multipart/form-data"
                                >
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4
                                                    class="modal-title"
                                                    id="standard-modalLabel"
                                                >
                                                    Thêm bằng file
                                                </h4>
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-hidden="true"
                                                ></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <span class="title"
                                                                >Tải File Mẫu:
                                                                <a
                                                                    href="public/files/mau-them-danh-sach-admin.xlsx"
                                                                    >TẠI ĐÂY</a
                                                                ></span
                                                            >
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="title"
                                                                >Lưu Ý: <br />1,
                                                                Không sửa file
                                                                mẫu tránh gây
                                                                lỗi khi nhập dữ
                                                                liệu.</span
                                                            >
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="title"
                                                                >2, Tài khoản và
                                                                email của mỗi
                                                                tài khoản là duy
                                                                nhất, không thể
                                                                trùng
                                                                nhau.</span
                                                            >
                                                        </div>
                                                        <div class="mb-3">
                                                            <span class="title"
                                                                >3, Ngày sinh
                                                                phải đúng định
                                                                đạnh Y-m-d, ví
                                                                dụ:
                                                                2008-10-29.</span
                                                            >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input
                                                            type="file"
                                                            id="input-file-now"
                                                            class="dropify file_data"
                                                            data-default-file=""
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                    type="button"
                                                    class="btn btn-light"
                                                    data-bs-dismiss="modal"
                                                >
                                                    Trở lại
                                                </button>
                                                <button
                                                    type="submit"
                                                    class="btn btn-primary"
                                                    name="submit"
                                                >
                                                    Thêm
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="table-responsive">
                                <table
                                    class="table table-centered table-striped dt-responsive nowrap w-100"
                                    id="table_grades"
                                >
                                    <thead>
                                        <tr>
                                            <th style="width: 20px">
                                                <div class="form-check">
                                                    <input
                                                        type="checkbox"
                                                        class="form-check-input"
                                                        id="select_all"
                                                    />
                                                    <label
                                                        class="form-check-label"
                                                        for="select_all"
                                                        >&nbsp;</label
                                                    >
                                                </div>
                                            </th>
                                            <th>ID</th>
                                            <th>Tên</th>
                                            <th style="width: 75px">
                                                Hành động
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="list_grades"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end card-body-->
                    </div>
                    <!-- end card-->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container -->
    </div>
    <!-- content -->
</div>

<script src="public/js/grades_panel.js"></script>
